<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">


    <link href="{% static 'css/design.css' %}" rel="stylesheet" type="text/css">


    <title>Computer accesories Store</title>


</head>

<body>

<style>

        body{
            background-image: url("{% static 'image/bg.jpg' %}");
            background-position: center;
            background-size: cover;
        }
        th,td,p,h1,h2,h3,h4,h5,h6{
            color: #ff9900;
        }

</style>

<h6 class="top text-center"> Read about our response to COVID-19 - <a href="/">FAQs</a></h6>


<!-- navbar -->
<header>
    <nav class="navbar shrink-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-logo" href="/start"><img src="{% static 'image/lg.png'%}" width="70px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="/start">Home<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/store">Store<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/about">About Us<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/contact">Contact Us<span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if request.session.customer %}

                <li class="nav-item dropdown ">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown"
                       href="#" role="button"><i class="fa fa-user" aria-hidden="true"></i>  Account</a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/orders">My Orders</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>


                {% else %}

                <li class="nav-item ">
                    <a class="nav-link" href="/signup">Signup
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/login">Login
                        <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}


                <li class="nav-item">
                    <a class="nav-link" href="/cart"><i class="fa fa-shopping-bag" aria-hidden="true"> Cart</i>
                        <span class="badge badge-info">{{request.session.cart.keys|length}}</span>
                        <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fa fa-heart" aria-hidden="true"> Wishlist</i>
                        <span class="badge badge-info">0</span>
                        <span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </nav>
</header>

{% block content %}

{% endblock %}


<!-- FOOTER -->

<footer class="page-footer text-center font-small mt-4 bg-dark" >

    <hr class="my-3">

    <!-- Social icons -->
    <div class="pb-1">
        <a href="https://www.facebook.com/" target="_blank">
            <i class="fab fa-facebook-f mr-4"></i>
        </a>

        <a href="https://www.instagram.com/" target="_blank">
            <i class="fab fa-instagram mr-4"></i>
        </a>

        <a href="https://twitter.com/" target="_blank">
            <i class="fab fa-twitter mr-4"></i>
        </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-1 bg-dark"><p>© 2020 Copyright: <a href="/" target="_blank"> www.pcsort.com </a></p>
    </div>
    <!--/.Copyright-->

</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script crossorigin="anonymous" src="https://kit.fontawesome.com/5879ec68db.js"></script>


</body>

</html>