<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">


    <link href="{% static 'css/design.css' %}" rel="stylesheet" type="text/css">


    <title>Computer Pasal (Computer accesories Store)</title>

    <style>
        * {
            box-sizing: border-box;
        }

        body{
            background-image: url("{% static 'image/bg.jpg' %}");
            background-position: center;
            background-size: cover;
        }

        th,td,p,h1,h2,h3,h4,h5,h6{
            color: #ff9900;
        }

        .search {
          width: 100%;
          position: relative;
          display: flex;
        }

        .searchTerm {
          width: 100%;
          border: 2px solid #ff9900;
          border-right: none;
          padding: 10px;
          height: 28px;
          border-radius: 5px 0 0 5px;
          outline: none;
          color: #ff9900;
        }

        .searchTerm:focus{
          color: #000000;
        }

        .searchButton {
          width: 45px;
          height: 28px;
          border: 1px solid #ff9900;
          background: #333333;
          text-align: center;
          color:#ff9900 ;
          border-radius: 0 5px 5px 0;
          cursor: pointer;
          font-size: 14px;
        }
        .khoj {
            width: 25rem;
        }


        .fa {
              font-size: 17px;
        }

        .checked {
              color: #ff9900;
        }














    </style>


</head>

<body class="cyan-skin">

<!-- navbar -->

<nav class="navbar navbar-expand-lg fixed-top scrolling-navbar navbar-dark" style="background-color:#333333">
    <a class="navbar-logo" href="/start"><img src="{% static 'image/logo.png'%}"></a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
                <a class="nav-link" href="/start">Home<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/store">Store<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="/about">About Us<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="/contact">Contact Us<span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <ul class="khoj form-inline my-2 my-lg-0">
            <form action="/search" class="search" method="get">
                <input class="searchTerm" id="search" name="search" placeholder="What are you looking for?"
                       type="text">
                <button class="searchButton" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </ul>


        <ul class="navbar-nav">
            {% if request.session.customer %}


            <li class="nav-item dropdown ">

                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                   data-toggle="dropdown"
                   href="/account" id="navbarDropdown" id="{{customer.id}}" role="button"><i aria-hidden="true"
                                                                                             class="fa fa-user"></i>
                    Account</a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu bg-dark">
                    <a class="dropdown-item" href="/orders"><h6>My Orders</h6></a>
                    <a class="dropdown-item" href="/logout"><h6>Logout</h6></a>
                </div>
            </li>


            {% else %}

            <li class="nav-item ">
                <a class="nav-link" href="/signup">Signup
                    <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/login">Login
                    <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}


            <li class="nav-item">
                <a class="nav-link" href="/cart"><i aria-hidden="true" class="fa fa-shopping-cart fa-lg"></i>
                    <span class="badge badge-info">{{request.session.cart.keys|length}}</span>
                    <span class="sr-only">(current)</span></a>
            </li>

        </ul>

    </div>
</nav>

{% block content %}


{% endblock %}

<hr/>
<!-- Footer -->
<footer class="page-footer font-small pt-4 bg-dark">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h4 class="text-uppercase mb-4 font-italic" style="font-family:Cursive">Computer Pasal</h4>
                <p style="color:#a6a6a6">We, the Computer Pasal, are the bunch of geeks with a passion to get things
                    done correctly. Computer
                    Pasal has a mission to ensure better web experience by providing digital products at affordable cost
                    which customer can't refuse.</p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p>
                    <a href="/start" style="color:#a6a6a6">Home</a>
                </p>
                <p>
                    <a href="/store" style="color:#a6a6a6">Store</a>
                </p>
                <p>
                    <a href="/about" style="color:#a6a6a6">About Us</a>
                </p>
                <p>
                    <a href="/contact" style="color:#a6a6a6">Contact Us</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p>
                    <i class="fas fa-home mr-3"></i>Balaju-16, Kathmandu</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> pcsort525@gmail.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 977 9869051179</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->

    </div>

    <div class="footer-copyright text-center" style="background-color:#333333">
        <br/><br/>
        <p>© 2020 Copyright:<a href="/"> www.computerpasal.com</a></p>
        <br>
    </div>


</footer>

<!-- Footer -->


<!-- Optional JavaScript -->
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script crossorigin="anonymous" src="https://kit.fontawesome.com/5879ec68db.js"></script>


</body>

</html>