{% extends 'base.html' %}


{% block content %}

{% load cart %}
{% load custom_filter %}




       <!-- Container (Contact Section) -->
	<div id="contact" class="container-fluid bg-white">
  <br>
  <h2 class="text-center">CONTACT</h2>
  <br>
  <div class="row">
    <div class="col-sm-5">
      <p><h5>Contact us and we'll get back to you within 24 hours.</h5></p>
      <hr>
      <p><span class="glyphicon glyphicon-map-marker"></span><h7>Balaju-16, Balaju height</h7></p>
      <p><span class="glyphicon glyphicon-phone"></span><h7>+977-9869051179</h7></p>
      <p><span class="glyphicon glyphicon-envelope"></span><h7>swagatkoirala5@gmail.com</h7></p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
         <button type="button" class="btn btn-info" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
	</div>

{% endblock %}