{% extends 'base.html' %}
{% block content %}

{% load cart %}

{% load custom_filter %}

<br><br><br>
<!-- body -->
<div class="container-fluid mt-3">
    <div class="row">


        <!-- filter -->

        <div class="col-lg-3 mx-auto bg-transparent">
            <div class="list-group">

                <a class="list-group-item list-group-item-action bg-dark" href="/store"><p>All Products</p></a>

                {% for category in categories %}
                <a class="list-group-item list-group-item-action bg-dark"
                   href="/?category={{category.id}}"><p>{{category.name}}</p></a>
                {% endfor %}
            </div>
        </div>

        <!-- all products -->
        <div class="col-lg-9 mx-auto">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="card mx-auto mb-3 bg-dark" id={{product.id}} style="width: 18rem;">
                    <div class="embed-responsive embed-responsive-1by1 ">
                        <a href="{{ product.get_absolute_url }}" name="details"><img alt="Card image cap"
                                                                                     class="card-img-top embed-responsive-item img-fluid"
                                                                                     src="{{product.image.url}}"></a>
                    </div>

                    <div class="card-body">
                        <a class="card-title" href="{{ product.get_absolute_url }}" name="details">{{product.name}}</a>
                        <p class="card-text"><b>{{product.price|currency}}</b></p>

                    </div>

                    <div class="card-footer1 p-0 no-gutters">

                        {% if product|is_in_cart:request.session.cart %}

                        <div class="text-center col"><p>{{product|cart_quantity:request.session.cart}} in Cart </p>
                        </div>


                        {% else %}

                        <form action="/#{{product.id}}" class="btn-block" method="POST">
                            {% csrf_token %}
                            <input hidden name='product' type="text" value='{{product.id}}'>
                            <input class="float-right btn btn-info  form-control" type="submit"
                                   value="Add To Cart">
                        </form>
                        {% endif %}


                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}

