{% extends 'base.html' %}
{% block content %}
{% load cart %}
{% load custom_filter %}


<!-- Page Content -->
<div class="container-fluid mt-3 bg-dark">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">{{ product.name }}
        <small></small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-6 mb-4">
        <img class="img-fluid" src="{{product.image.url}}" alt="Card image cap">
    </div>

    <div class="float-right col-md-6">
        <h3 class="my-3"><u>Description:</u></h3>
        <ul>
            <p>Price : <b>{{product.price|currency}}</b></p>
            <p>Brands : <b>{{product.brands}}</b></p>
            <p>Category : <b> {{object.get_category_display}}</b></p>

        </ul>


        <div class="card-footer1 p-0 no-gutters">

            {% if product|is_in_cart:request.session.cart %}

            <div class="text-center col"><p>{{product|cart_quantity:request.session.cart}} in Cart </p>
            </div>


            {% else %}

            <form action="/#{{product.id}}" class="btn-block" method="POST">
                {% csrf_token %}
                <input hidden name='product' type="text" value='{{product.id}}'>
                <input class="float-right btn btn-info  form-control" type="submit"
                       value="Add To Cart">
            </form>
            {% endif %}
            <h2 class="my-3"><u><b>Product Details</b></u></h2>
            <p>{{ product.description }}</p>
        </div>

    </div>


</div>

</div>
<!-- /.container -->


{% endblock %}