{% extends 'base.html' %}
{% block content %}
{% load cart %}
{% load custom_filter %}


<!-- Page Content -->
<!-- Page Content -->
<br><br><br>
<div class="container-fluid bg-dark"> <!-- Portfolio Item Row -->
    <hr/>
    <div class="row">
        <div class="col-md-4" id={{product.id}}>
            <img class="img-fluid" src="{{product.image.url}}" alt="">
        </div>

        <div class="col-md-8">
            <h3 class="my-3">{{product.name}}</h3>
            <ul>
                <p style="color:#a6a6a6">Price : <b>{{product.price|currency}}</b></p>
                <p style="color:#a6a6a6">Brand : {{product.brands}}</p>

                <form class="rate-form" action='/product-details/my-slug-{{product.id}}' method="post" id="{{product.id}}"  >
                    {% csrf_token %}
                    <button type="submit" class="fa fa-star my-btn " id="first" ></button>
                    <button type="submit" class="fa fa-star my-btn " id="second"></button>
                    <button type="submit" class="fa fa-star my-btn " id="third"></button>
                    <button type="submit" class="fa fa-star my-btn " id="fourth"></button>
                    <button type="submit" class="fa fa-star my-btn " id="fifth"></button>
                </form>
                <br/>
                {% if request.session.customer %}
                
                <p>You rated this product <b>{{score}}</b> stars</p>
                
                {% endif %}
                <br/>
                <form action="/#{{product.id}}" class="btn-block" method="POST">
                    {% csrf_token %}
                    <input hidden name='product' type="text" value='{{product.id}}'>
                    <button class="btn btn-danger" type="submit">Add To Cart
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </form>

            </ul>

            <hr/>
            <h3>More Details: </h3>
            <p class="my-3" style="color:#a6a6a6">{{product.description}}</p>

        </div>

    </div>

    <!-- /.row -->
    <hr/>
    <hr/>
    <!-- Related Product Row -->
    <h3 class="my-4">Related Product</h3>

    <div class="row mx auto">
        <div class="card mx-auto mb-3 bg-dark" style="width:18rem;">
            <div class="embed-responsive embed-responsive-1by1">
                <a href="{{ product_recommend_one.get_absolute_url }}" name="details"><img alt="Card image cap"
                                                                             class="card-img-top embed-responsive-item img-fluid"
                                                                             src="{{product_recommend_one.image.url}}"></a>
            </div style="margin:auto;width:18rem;">
            <div class="card-body">
            <a class="card-title" href="{{ product_recommend_one.get_absolute_url }}" name="details">{{product_recommend_one.name}}</a>
            </div>
            <div class="card-body">
                <p><b>Similarity Score</b> : {{one_ss}}</p>
            </div>
        </div>
        <div class="card mx-auto mb-3 bg-dark" style="width:18rem;">
            <div class="embed-responsive embed-responsive-1by1">
                <a href="{{ product_recommend_two.get_absolute_url }}" name="details"><img alt="Card image cap"
                                                                             class="card-img-top embed-responsive-item img-fluid"
                                                                             src="{{product_recommend_two.image.url}}"></a>
            </div>
            <div class="card-body">
            <a class="card-title" href="{{ product_recommend_two.get_absolute_url }}" name="details">{{product_recommend_two.name}}</a>
            </div>
            <div class="card-body">
                <p><b>Similarity Score</b> : {{two_ss}}</p>
            </div>
        </div>
        <div class="card mx-auto mb-3 bg-dark" style="width:18rem;">
            <div class="embed-responsive embed-responsive-1by1">
                <a href="{{ product_recommend_three.get_absolute_url }}" name="details"><img alt="Card image cap"
                                                                             class="card-img-top embed-responsive-item img-fluid"
                                                                             src="{{product_recommend_three.image.url}}"></a>
            </div>
            <div class="card-body">
            <a class="card-title" href="{{ product_recommend_three.get_absolute_url }}" name="details">{{product_recommend_three.name}}</a>
            </div>
            <div class="card-body">
                <p><b>Similarity Score</b> : {{three_ss}}</p>
            </div>
        </div>
        <div class="card mx-auto mb-3 bg-dark" style="width:18rem;">
            <div class="embed-responsive embed-responsive-1by1">
                <a href="{{ product_recommend_four.get_absolute_url }}" name="details"><img alt="Card image cap"
                                                                             class="card-img-top embed-responsive-item img-fluid"
                                                                             src="{{product_recommend_four.image.url}}"></a>
            </div>
            <div class="card-body">
            <a class="card-title" href="{{ product_recommend_four.get_absolute_url }}" name="details">{{product_recommend_four.name}}</a>
            </div>
            <div class="card-body">
                <p><b>Similarity Score</b> : {{four_ss}}</p>
            </div>
        </div>
        

    </div>
    <!-- /.row -->

    <!-- /.card -->

    <!-- <div class="card card-outline-secondary my-4 bg-dark">
        <div class="card-header">
            <h5>Product Reviews</h5>
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
                necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
                necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
                necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
                necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
                necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
                necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <a href="#" class="btn btn-info">Leave a Review</a>
        </div>
    </div> -->
    <!-- /.card -->

</div>
<!-- /.container -->
{% endblock %}