<!-- {% extends 'base.html' %}
{% load static %}
{% block content %}


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="col ">
    
    <form class="rate-form" action="/rating" method="post" id="{{product.id}}"  >
        {% csrf_token %}
        <button type="submit" class="fa fa-star my-btn " id="first"></button>
        <button type="submit" class="fa fa-star my-btn " id="second"></button>
        <button type="submit" class="fa fa-star my-btn " id="third"></button>
        <button type="submit" class="fa fa-star my-btn " id="fourth"></button>
        <button type="submit" class="fa fa-star my-btn " id="fifth"></button>
    </form>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


{% endblock %} -->